:root {

    --fontSize: 1rem;
    --crvena: #ce2027;
/* razno */
}

/* media queries */
/* @custom-media --mobitel (width <= 600px);
@custom-media --mobile (width > 680px);  */
/* @custom-media --tablet (width >= 768px); */
@custom-media --tablet (width > 680px);
@custom-media --large (width > 960px);
@custom-media --wide (width >= 1200px);


/* custom selectors  */

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

@custom-selector :--links a, a:link, a:visited, a:active;